
@using Admin.Models.DB;

@model List<object>
<div id="DB_Table_Blog" >

</div>
<div id="DB_Table_colName">

</div>
<div id="DB_Table_Customer">

</div>
<div id="DB_Table_DestinationReview">

</div>
<div id="DB_Table_DSDatXe">

</div>
<div id="DB_Table_DSKSCanTT">

</div>
<div id="DB_Table_DSKSTheoTrip">

</div>
<div id="DB_Table_DSKSTrongWL">

</div>
<div id="DB_Table_DSTourCanTT">

</div>
<div id="DB_Table_DSTourTrongWL">

</div>
<div id="DB_Table_DSTripTheoTour">

</div>
<div id="DB_Table_ElecBill">

</div>
<div id="DB_Table_HomeStay">

</div>
<div id="DB_Table_Nation">

</div>
<div id="DB_Table_Province">

</div>
<div id="DB_Table_Taxi">

</div>
<div id="DB_Table_TenCacBang">

</div>
<div id="DB_Table_Tour">

</div>
<div id="DB_Table_TourDestination">

</div>
<div id="DB_Table_Trip">

</div>
<div id="DB_Table_WishList">

</div>