<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags-->
    
    <link href="~/Contents/Account/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Contents/Account/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/Account/css/style.css" type="text/css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Contents/Account/js/jquery-3.3.1.min.js"></script>
    <script src="~/Contents/Account/js/bootstrap.min.js"></script>
    <script src="~/Contents/Account/js/jquery-ui.min.js"></script>
    <script src="~/Contents/Account/js/jquery.countdown.min.js"></script>
    <script src="~/Contents/Account/js/jquery.nice-select.min.js"></script>
    <script src="~/Contents/Account/js/jquery.zoom.min.js"></script>
    <script src="~/Contents/Account/js/jquery.dd.min.js"></script>
    <script src="~/Contents/Account/js/jquery.slicknav.js"></script>
    <script src="~/Contents/Account/js/owl.carousel.min.js"></script>
    <script src="~/Contents/Account/js/main.js"></script>
    <script src="~/Contents/Account/js/ajaxHome.js"></script>

    <!-- Main JS-->

</body>
</html>
