<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("menu", required: false)
    <div>
        @RenderBody()
    </div>
</body>
    @RenderSection("menuEnd", required: true)
</html>
