
@{
    ViewBag.Title = "Tour";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Contents/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Tour</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span><span>Services <i class="ion-ios-arrow-forward"></i></span><span> Tour <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

<section class="ftco-section">
    <div class="container_tour">
        <div class="row_tour">
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-1.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Du lịch nhóm</font></font></h2>
                    <h3 class="price">
                        <span>
                            <font style="        vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">từ</font></font>
                        </span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 299</font></font>
                    </h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-2.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Du lịch biển</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 199</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-3.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Chuyến tham quan trên núi</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 179</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-3.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Chuyến du lịch gia đình</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 599</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>

            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-1.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Du lịch nhóm</font></font></h2>
                    <h3 class="price">
                        <span>
                            <font style="        vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font>
                        </span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 299</font></font>
                    </h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-2.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Du lịch biển</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 199</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="        vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-3.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Chuyến tham quan trên núi</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 179</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
            <div class="col-lg-3_tour promo ftco-animate fadeInUp ftco-animated">
                <a href="#" class="promo-img mb-4" style="background-image: url(/Contents/images/promo-3.jpg);"></a>
                <div class="text text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size:20px">Chuyến du lịch gia đình</font></font></h2>
                    <h3 class="price"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">từ</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> $ 599</font></font></h3>
                    <a href="#" class="read"><font style="vertical-align: inherit;"><font style="        vertical-align: inherit;">Đọc thêm</font></font></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2><font style="vertical-align: inherit;">Dịch vụ của chúng tôi</font></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-sailboat"></span></div></div>
                    <div class="media-body p-2">
                        <h3 class="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hoạt động đặc biệt</font></font></h3>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngay cả Pointing toàn năng cũng không kiểm soát được các văn bản mù, nó là một thứ gần như không chính thống.</font></font></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-around"></span></div></div>
                    <div class="media-body p-2">
                        <h3 class="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sắp xếp chuyến đi</font></font></h3>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngay cả Pointing toàn năng cũng không kiểm soát được các văn bản mù, nó là một thứ gần như không chính thống.</font></font></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-compass"></span></div></div>
                    <div class="media-body p-2">
                        <h3 class="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hướng dẫn riêng</font></font></h3>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngay cả Pointing toàn năng cũng không kiểm soát được các văn bản mù, nó là một thứ gần như không chính thống.</font></font></p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-map-of-roads"></span></div></div>
                    <div class="media-body p-2">
                        <h3 class="heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quản lý vị trí</font></font></h3>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngay cả Pointing toàn năng cũng không kiểm soát được các văn bản mù, nó là một thứ gần như không chính thống.</font></font></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

