
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <span>@ViewBag.data</span>
    <a href="@Url.Action("VDReturnData","Cau2")"> test ReturnData</a>
    <br />
    <a href="@Url.Action("VDReturnRec","Cau2")"> Test return REc</a>
</body>
</html>
