
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Cau4/TestNoPara">Link: ..../Cau4/TestNoPara</a>
    <br />
    <a href="/Cau4/TestWithPara/1">Link: ..../Cau4/TestWithPara/1</a>
    <br />
    <a href="/Cau4/TestWithPara/?id=1">Link: ..../Cau4/TestWithPara/id?1</a>
    <br />
    <a href="~/Cau1/Index">Link: ..../Cau1/Index</a>
    <br />
</body>
</html>
